<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Site Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-card>

  <ion-item>
    <h2  text-center  *ngIf="selectedItem">{{selectedItem?.site}}</h2>
  </ion-item>

  <img src="{{selectedItem?.thumbnail}}">

  <ion-card-content  *ngIf="selectedItem">
    <p>{{selectedItem?.description}}</p>
    <button ion-button (click)="actionSheet()">Action</button> 
  </ion-card-content>

</ion-card>
</ion-content>